<!-- templates/controlinventario/autorizar_pedido.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedido Aprobado</title>
</head>
<body>
    <h1>Hola {{ pedido.usuario.username }},</h1>
    <p>Tu pedido para el producto <strong>{{ pedido.producto.nombre }}</strong> ha sido aprobado.</p>
    <p>Gracias por la solicitud!!!</p>
    <p>Ahora trata de cuidar lo que pediste!!!</p>
    <p>Mira que la plata no sobra!!!</p>
    <p>********* SALUDOS!!**********</p>
</body>
</html>