<!-- templates/controlinventario/autorizar_pedido.html -->

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido Aprobado</title>
    <!-- Incluyendo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Cargar el CSS común -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"> <!-- Asegúrate de que esta ruta sea correcta -->

</head>
<body>
    <div class="container mt-5">
        <h1 class="text-success text-center mb-4">Hola {{ pedido.usuario.username }},</h1>
        <div class="alert alert-success">
            <p>Tu pedido para el producto <strong>{{ pedido.producto.nombre }}</strong> ha sido aprobado.</p>
            <p> Acercate a la oficina de finanzas a retirar el pedido</p>
            <p>Gracias por la solicitud!!!</p>
        </div>
        <p class="text-center">********* SALUDOS!! *********</p>
    </div>

    <!-- Incluyendo Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>