<!-- templates/controlinventario/change_password.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <h1>Cambiar Contraseña</h1>
    {% if messages %}
        {% for msg in messages %}
            <div>{{ msg }}</div>
        {% endfor %}
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cambiar Contraseña</button>
    </form>
</body>
</html>