body {
    background-color: #f0f8ff; /* Color de fondo */
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: white;
    padding: 2rem; /* Aumentar el padding para un mejor espaciado */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Usar un 90% del ancho disponible */
    max-width: 400px; /* Limitar el ancho máximo */
}

.login-container h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem; /* Ajusta el tamaño del título usando rem */
    text-align: center;
    color: #333; /* Color para el título */
}

.form-group label {
    font-weight: bold; /* Etiquetas en negrita */
    color: #333; /* Color de etiquetas */
}

.form-control {
    border: 1px solid #007bff; /* Color de borde */
    border-radius: 5px; /* Bordes redondeados */
}

.form-control:focus {
    border-color: #0056b3; /* Color del borde al hacer foco */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra de foco */
}

.btn-primary {
    background-color: #007bff; /* Color del botón */
    border: none;
    font-weight: bold; /* Botón en negrita */
}

.btn-primary:hover {
    background-color: #0056b3; /* Color del botón al pasar el ratón */
}

.footer {
    background-color: #007bff; /* Color azul */
    color: white; /* Texto en blanco */
    padding: 1rem 0; /* Espaciado vertical */
    position: relative; /* Asegúrate de que esté siempre al final */
    width: 100%; /* Ancho completo */
}

.footer p {
    margin: 0; /* Sin margen para el párrafo */
}

/* Estilos Adicionales para Responsividad */
@media (max-width: 768px) {
    .login-container {
        padding: 1.5rem; /* Ajustar el padding en pantallas más pequeñas */
    }
    
    .login-container h1 {
        font-size: 1.2rem; /* Ajustar aún más el título en dispositivos pequeños */
    }
}